body {
  font-family: sans-serif;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: 0 auto;
}

textarea {
  height: 150px;
}

label {
  font-weight: 600;
}

p {
  background-color: aliceblue;
  padding: 16px;
  border-radius: 6px;
}

button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #05147d;
  color: white;
  font-weight: 700;
  cursor: pointer;
  margin: 0 auto;
}
